; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[LICENSE.txt]
end_of_line = crlf
insert_final_newline = false

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.html]
indent_style = tab
trim_trailing_whitespace = true

[*.{ini,yml}]
indent_style = space
indent_size = 2
